.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    left: -11rem;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown:click .dropdown-content {
    display: flex;
}