@tailwind base;
@tailwind components;
@tailwind utilities;

/* .test {
    background-image: url('./img/unsplash.jpg');
    object-fit: cover;
    object-position: center;
    border: 1px red solid;
} */

.bgBlur {
    /*  */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.App {
    text-align: center;
}

.App-link {
    color: #61dafb;
}

.b * {
    border: 1px solid red;
}

.ttest * {
    z-index: 20;
}